body 
{
    background-color: #202225;
    color: white;
    margin: 0;
}
header, footer
{
    background-color: #2f3136;
    margin: 0;
    padding: 1rem 1rem;
}
main 
{
    max-width: 60rem;
    background-color: #36393f;
    margin: 3rem auto;
    padding: 2rem 1rem;
    border-radius: 1rem;
}
a 
{
    color: #ff7474;
    transition: all ease 0.2s;
}
a:hover 
{
    color: #6b6e74;
}